.fixed {
  background: #e00000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 62px;
  height: 175px;
  flex-shrink: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: fixed;
  padding-top: 31px;
  gap: 31px;
}
