footer {
  color: #e00000;
}

footer h2 {
  padding-top: 34px;
}

.big-castle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer a {
  font-family: Antic;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.footer-logo p {
  text-align: center;
  font-family: Antic;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-policy {
  padding-bottom: 72px;
}
