.licorne-biere img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-left: 31px solid #e00000;
}

.licorne-logo {
  margin-top: 363px;
}

.Licorne p {
  color: #e00000;
  font-family: Antic;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 50px;
}

.licorne-frog img {
  width: 371px;
}

.Licorne a {
  color: #fff;
  font-size: 24px;
  border-radius: 11px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-radius: 52px;
  background: #e00000;
  margin-top: 54px;
}

.licorne-frog {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
