.ourhistory-barrel img {
  border-radius: 44px;
  border: 4px solid #e00000;
  margin-top: 194px;
}

.ourhistory-sylvain img {
  border-radius: 44px;
  border: 4px solid #e00000;
  margin-top: 19px;
  border-bottom: 31px solid #e00000;
}

.ourhistory h2 {
  margin-top: 194px;
}

.ourhistory p {
  padding-top: 65px;
}

.ourhistory-fabrication img {
  border-radius: 44px;
  border: 4px solid #e00000;
  margin-top: 65px;
}
